#root {
  margin : 0;
  padding : 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
}

.App {
  margin: 3.5rem;
  padding-top : 3.5rem;
  min-height: 100vh;
}

.navbar {
  background-color : #ef5350 !important
}